header {
    background-color: #1f80e0;
    color: white;
    padding: 10px; 
    text-align: center;
    font-size: 18px; 
    font-family: Arial, sans-serif;
}
header .image {
    width: 6.25rem;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}